.contato_section {
    width: 100%;
    height: 100%;
    background-color: #6E07F3;
    color: black;
    text-align: center;
    
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

.contato_section h2 {
    font-size: 25px;
    padding: 40px;
    color: white;
}

.contato_container {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px 0px 15px 0px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


input {
    height: 40px;
    width: 300px;
    text-align: center;
    margin-top: 10px;
    transition: 1s;
}

button {
    margin-top: 10px;
    height: 30px;
    width: 306px;
    transition: 1s;
}

button:hover {
    transform: scale(1.1)

}

input:hover {
    transform: scale(1.1);
    font-size: 17px;
}
.contato_padrao {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    align-items: center;
    justify-content: space-around;
}

.contato_padrao a {
    height: 30px;
    width: 300px;
    text-align: center;
    margin: 10px 30px;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

.color_transform {
    background:linear-gradient(180deg, #6E07F3, white);
    height: 30vw;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:767px){ 
    .contato_container {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 15px 0px 15px 0px;
        background-color: white;
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 400px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    input {
        height: 40px;
        width: 300px;
        text-align: center;
        margin-top: 10px;
        transition: 1s;
    }
    
    button {
        margin-top: 10px;
        height: 30px;
        width: 306px;
        transition: 1s;
    }
    
    button:hover {
        transform: scale(1.1)
    
    }
    
    input:hover {
        transform: scale(1.1);
        font-size: 14px;
    }
}