.home_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background:linear-gradient(180deg,white,rgb(196, 196, 196), #6E07F3);
}

.home_title {
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(29, 16, 60);
}

.home_subtitle {
    font-size: 23px;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
    
}

.home_redirect_image img {
   width: 80px;
   height: 80px;
}

.home_redirect_image {
    transition: 1s;
    animation: top_to_bottom 2s linear ease;
}

.home_redirect_image:hover {
    transform: scale(1.2)

}

@keyframes top_to_bottom {
    from {
        top: -45px;
    }to {
        top: 0;
    }

}